.wrap {
    width: 100%;
    display: grid;
    grid-template-areas:
    'header header header'
    'projects projects projects'
    'main main main';
}

.header {
    box-shadow: 0 0 30px #C0C0C0;
    display: flex;
    flex-direction: row; 
    grid-area: header;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 40px;
}

.avatar {
    width: 210px;
    height: 210px;
    border-radius: 10px;
}

.content {
    padding-left: 30px;
}

.name {
    margin-bottom: 0;
}

.description {
    margin: 0;
    padding-top: 12px;
    color: #999999;
}

.img {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.link__mail {
    font-size: 12px;
    text-decoration: none;
    color: #999999;
    margin: 4px 0;
    display: inline-flex;
}

.link__tel {
    font-size: 12px;
    text-decoration: none;
    color: #999999;
    margin: 4px 0;
    padding-right: 300px;
    display: inline-flex;
}

.link__mail:hover {
    color: #356EFF;
}

.link__tel:hover {
    color: #356EFF;
}

.icons {
    display: flex;
    align-items: center;
    margin: 50px 0 0 400px;
}

.linkedin {
    padding-right: 5px;
}

.github {
    padding-right: 5px;
}

.projects {
    grid-area: projects;
    box-shadow: 0 0 30px #C0C0C0;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.link__projects {
    display: block;
    margin: 5px 0 10px 0;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.link__projects:hover {
    color: #356EFF;
}

.main {
    box-shadow: 0 0 30px #C0C0C0;
    grid-area: main;
    border-radius: 10px;
    padding: 10px;
}

.repos {
    font-size: 20px;
    margin: 10px 0 10px 0;
    color: black;
    display: flex;
    justify-content: center;
    height: 350px;
}

.repo {
    display: flex;
    align-items: center;
    margin: 0 8px 8px 0;
    height: 54px;
    border: 2px solid #CCC;
    border-radius: 10px;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 293px;
    width: 100%;
    background: url(../../img/error.svg) center bottom 71px no-repeat;
    background-size: 265px 165px;
}

.list {
    overflow-y: auto;
    width: 90%;
}

.repo_wrapped {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 12px;
    height: 36px;
    width: 100%;
    border-radius: 10px;
}

.repo_info {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #999;
}

.repo_link {
    font-size: 14px;
    font-weight: bold;
}

.repo_link:hover {
    color: #356EFF;
}

.repo_info__null-icon {
    margin-right: 5px;
    height: 16px;
    width: 16px;
    background-color: #696969;
    border-radius: 50%;
}

.repo_info__html-icon {
    margin-right: 5px;
    height: 16px;
    width: 16px;
    background: #E34C26;
    border-radius: 50%;
}

.repo_info__css-icon {
    margin-right: 5px;
    height: 16px;
    width: 16px;
    background: #563D7C;
    border-radius: 50%;
}

.repo_info__javascript-icon {
    margin-right: 5px;
    height: 16px;
    width: 16px;
    background: #F1E05A;
    border-radius: 50%;
}

.repo_language {
    display: flex;
    align-items: center;
    height: 100%;
    width: 73px;
}

.repo_star {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45px;
    background: url(../../img/star.svg) left center no-repeat;
}

.repo_fork {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45px;
    background: url(../../img/fork.svg) left center no-repeat;
}

.repo_update {
    display: flex;
    align-items: center;
    height: 100%;
}

.buttons_wrap {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
.button {
    color: #356EFF;
    border: 1px solid #999;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 37px;
    background: none;
    font: normal normal 14px/16px 'Roboto';
    height: 32px;
    width: 74px;
    margin-right: 8px;
    outline: none;
}

button:disabled {
    opacity: 0.7;
}

button:disabled:hover {
    cursor: not-allowed;
}
  
.button:hover {
    color: #fff;
    cursor: pointer;
    border: 1px solid #356EFF;
    background: #356EFF;
}

@media (max-width: 500px) {
    .header {
        margin-bottom: 10px;
    }

    .avatar {
        width: 110px;
        height: 110px;
    }

    .content {
        padding-left: 10px;
    }
    
    .name {
        font-size: 20px;
    }
    
    .description {
        padding-top: 5px;
        font-size: 15px;
    }
    
    .img {
        margin-right: 3px;
        width: 10px;
        height: 10px;
    }
    
    .link__mail {
        font-size: 9px;
    }
    
    .link__tel {
        padding-right: 100px;
        font-size: 9px;
    }
    
    .icons {
        margin: 0 0 0 160px;
    }

    .linkedin {
        width: 15px;
        padding-right: 3px;
    }
    
    .github {
        padding-right: 3px;
        width: 15px;
    }

    .facebook {
        width: 15px;
    }
    
    .projects {
        margin-bottom: 10px;
    }
    
    .link__projects {
        display: block;
        margin: 5px 0 5px 0;
        text-decoration: none;
        font-size: 11px;
    }

    .title {
        font-size: 15px;
        margin: 0;
        padding-bottom: 10px;
    }

    .repo_title {
        font-size: 15px;
        margin: 0;
    }
    
    .repos {
        font-size: 11px;
        margin: 10px 0 10px 0;
        height: 300px;
    }

    .repo {
        margin: 0 5px 13px 0;
        height: 45px;
    }
    
    .repo_info {
        font-size: 9px;
    }
    
    .repo_link {
        font-size: 11px;
        font-weight: bold;
    }
    
    .repo_info__null-icon {
        margin-right: 3px;
        height: 12px;
        width: 12px;
    }
    
    .repo_info__html-icon {
        margin-right: 3px;
        height: 12px;
        width: 12px;
    }
    
    .repo_info__css-icon {
        margin-right: 3px;
        height: 12px;
        width: 12px;
    }
    
    .repo_info__javascript-icon {
        margin-right: 3px;
        height: 12px;
        width: 12px;
    }
    
    .repo_language {
        display: flex;
        align-items: center;
        height: 100%;
        width: 73px;
    }
    
    .repo_star {
        width: 50px;
    }
    
    .repo_update {
       font-size: 10px;
       margin-top: 0;
    }
    
    .buttons_wrap {
        margin: auto;
        display: flex;
        justify-content: center;
      }
      
    .button {
        background: none;
        font: normal normal 11px/13px 'Roboto';
        height: 28px;
        width: 70px;
    }
}

@media (max-width: 330px) {  
    .name {
        font-size: 15px;
    }

    .description {
        font-size: 12px;
    }

    .link__tel {
        padding-right: 40px;
    }

    .icons {
        margin: 10px 0 0 150px;
    }

    .main {
        height: 200px;
    }

    .repos {
        height: 130px;
    }

    .repo {
        height: 40px;
    }

    .list {
        height: 130px;
    }

    .repo_update {
        display: none;
    }
}