.contact__link {
    text-decoration: none;
    font-size: 20px;
    margin: 10px 0 10px 0;
    color: black;
    padding: 0 0 0 20px;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: Roboto, sans-serif;
    margin: 10px 0 20px 0;
    color: #c15;
    font-size: 35px;
    font-weight: bolder;
    padding: 0 0 0 20px;
}