.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 432px;
    overflow: auto;
  }
  
  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .img {
    background: url(../../img/error.svg) no-repeat;
    margin-bottom: 24px;
    height: 164px;
    width: 267px;
  }
  
  .nodeal {
    margin: 0 0 8px 0;
    font: normal normal 18px/21px 'Roboto';
  }
  
  .doit {
    color: #999;
    margin: 0;
    font: normal normal 14px/16px 'Roboto';
  }
  
  @media (max-width: 500px) {
    
    .list {
      max-height: 300px;
      padding-left: 20px; 
    }
  
    .empty {
      margin-top: 50px;
    }

    .nodeal {
      font-size: 12px;
    }

    .doit {
      font-size: 10px;
    }
  }

  
  @media (max-width: 330px) {
  
    .list {
      max-height: 200px;
      padding-left: 0;
    }
  }